/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
  Author's custom styles
   ========================================================================== */


/*--Base Font Styles -------*/
html {
  font-size: 1rem;
}
body {
  font-family:'Open Sans', sans-serif;
  font-size: 1em;
  text-align: left;
  background-color: #202322;
  color: #e2e3ed;
}

h1 {
  font-size: 2.25em;
  line-height: 43px;
  font-weight: 500;

}
h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.875em;
  font-weight: 500;
}
.reviews,
h2 {
  line-height: 30px;
}

h3,
h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.125em;
  margin: 20px 0;
  font-weight: 500;
}
.faq-content,
h4 {
  line-height: 24px;
}
p {
  font-size: .875em;
  line-height: 1.285;
  line-height: 18px;
}
address {
  font-style: normal;
}
.content-wrapper {
  width: 90%;
  margin: 50px 0;
}
/*-- header and navbar section here --*/
header {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 15px 0;
}
.navbar-wrapper {
  display: flex;
  align-items: baseline;
  margin: auto;
  width: 100%;
  font-weight: bold;
  font-size: 1.125em;
}
.logo {
  width: 50%;
  align-items: center;
}
.main-navigation {
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding-left: 50%;
}
  .faq-link, .about-link {
    color: #e2e3ed;
    text-decoration: none;
    padding: 0 20px;
  }
  .faq-link:hover, .about-link:hover {
    text-decoration: underline;       
}
.unplugged-logo {
  width: 150px;
  height: auto;
  align-items: center;
  padding-left: 50%;
}
/*-- hero section starts here --*/
.hero-area {
  height: 600px;
  height: auto;
  display: flex;
  justify-content: center;
  background-image: url(/unplugged-retreat.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 600px;
  color: #e2e3ed;
}
.content-wrapper, h1 {
  margin-right: 25%;
  padding: 0;
  font-size: 1.5em;
  text-align: center;
  opacity: 90%;
}
/*-- aside section starts here --*/
aside {
  display: flex;
  background-color: #527158;
  color: #e2e3ed;
  opacity: 90%;
  margin-right: auto;
  justify-content: center;
}
aside .content-wrapper {
  width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}


.dark-square-button {
  background-color: #2a423a;
  color: #e2e3ed;
  border: none;
  font-size: 1em;
  cursor: pointer;
  padding: 20px 40px;
  margin-top: 15px;
}

.form .form-description {
  margin: auto;
  justify-items: center;
}
.form-description {
  display: flex;
  flex-direction: column;
  border: none;
  font-size: 1em;
  margin: auto;
}
.form-description p {
  width: 80%;
  margin: 0;
  text-overflow: inherit;
}
/*-- features section starts here --*/
.features {
  background-image: url(/unplugged-retreat-features.jpg);
  position: center center;
  background-size: cover;
  padding: 50px 0;
  color: #e2e3ed;
  opacity: 90%;
  display: flex;
  justify-content: center;

}
.features h2 {
  margin-bottom: 60px;
} 
a {
    color: #e2e3ed;
    text-decoration: none;
}
.features .content-wrapper {
  display: flex;
  justify-content: center;
}
.features .features-items {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}
.features .article {
  width: 65%;
  margin: 30px 0;
}

.features p {
  margin: 0;
}

/*--reviews--*/

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
  margin: 0;
  background-color: #2a423a;
  width: 100%;
  color: #e2e3ed;
}
.review-title {
  padding-bottom: 50px;
  justify-items: center;
}
.review-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 960px;
}
.review-content h3 p {
  width: 40%;
}
.reviews-text h2 {
  width: 40%;
  margin-bottom: 40px;
}
.review-image img {
  width: 80%;
  height: auto;
}
  /*-- footer section here --*/
.footer-content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column wrap;
}
.contact {
  width: 50%;
}
.social {
  width: 50%;
}
.copyright {
  display: flex;
  align-self: center;
  justify-content: center;
}
/*--About page--*/

.mission {
  display: flex;
  flex-direction: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #527158;

}
.mission-content h1 {
  width: 100%;
}
.mission-content p {
  width: 100%;
}

.contact-section {
  background-color: #2a423a;
  height: auto;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.contact-content  {
  display: flex;
}

.map-bg {
  width: 100%;
  height: 600px;
  background: url('../img/map.png') no-repeat center center/cover;
  position: relative;
  margin: 0; 
}


/*--FAQ page--*/
.faq {
  display: flex;
  justify-content: center;
  background-color: #527158;
}

.faq .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
  margin: 50px 0 0 0;
}
.faq h2 {
  margin-bottom: 40px;
}
.faq-content {
  margin-bottom: 50px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}
aside .form {
  margin-top: 30px;
}
 
input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}
 
input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /*Tablet styles here*/
}
/*-- text styling here -*/
h1 {
  font-size: 3em;
  line-height: 48px;
}

h2 {
  font-size: 2.25em;
  line-height: 48px;
  }

h3 {
  font-size: 1.5em;
  line-height: 30px;
  }

.content-wrapper {
  width: 640px; 
  margin: 100px;
}
header {
  padding: 33px 0;
}

header .content-wrapper {
  justify-content: center;
  width: 100%;
}
header nav {
  width: 20%;
}
header {
  justify-content: space-between;
}
/*hero area */

.hero-area .content-wrapper {
  margin: 100px 0;
}

/*aside area */
aside .content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 50px 0;
}
aside .content-wrapper .form-description,
aside .content-wrapper .form {
  width: 40%;
  margin: 0;
}

/* features */
.features .content-wrapper {
  margin: 100px 0;
}
.features article {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  flex-basis: 50%;
}
.features .features-item-description {
  width: 50%;
}

.features h2 {
  margin-bottom: 20px;
}
/*reviews*/
.reviews {
  display: flex;
  justify-content: center;
}
.reviews article div {
  width: 50%;
}
/*footer*/
footer, h4 {
  font-size: 1.5em;
}

footer, p {
  line-height: 18px;
}
footer .content-wrapper {
  width: 65%;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .contact {
  margin-bottom: 0;
}
footer .copyright {
  width: 100%;
}
/* about page */

.mission-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
}
.mission-content p {
  width: 45%;
}
.contact-section .content-wrapper h2 {
  width: 75%;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* FAQ Page */

.faq .content-wrapper {
  justify-content: space-between;
  width: 65%;
} 
.faq-content {
  flex-basis: 45%;
}
.faq h2 {
  width: 100%;
}
.faq, h4 {
  font-size: .875em;
  line-height: 15.75px;
}

@media only screen and (min-width: 1200px) {
  /*desktop styles here*/
}

h1 {
  font-size: 3.75em;
}

h2 {
  font-size: 2.25em;
}
.content-wrapper {
  width: 960px;
  margin: 250px;
}
header .content-wrapper {
  justify-content: space-between;
  width: 30%;
}
header {
  justify-content: space-between;
}

.hero-area .content-wrapper {
  width: 70%;
}

aside .content-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 80%;
}
.features article {
  display: flex;
  align-items: stretch;
  flex-flow: row wrap;
  flex-basis: auto;
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.faq-content {
  flex-basis: auto;
  height: auto;
}

/* about page */

.mission {
  text-align: center;
  justify-content: center;
  width: 100%;
  margin-right: 20px;
}

.faq, .about, .mission, h2 {
  font-weight: 3em;
}

.faq, h4, p {
  font-size: 1.125em;
}
p {
  line-height: 24px;
}
@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

